h1 a {
    color: white;
    font-size: 20px;
    font-family: "Helvetica", sans-serif;
}

.main_content {
    padding: 15px;
    background-color: #e1e3e6;
    margin-bottom: 10px;
    margin-left: 0px;
    width: 50%;
    color: white;
}


