{% extends 'mainscreen/body.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container mt-3">
    <h1>Enter chart name</h1>
    <div class="field inline">
        <form action="" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col">
                    {{ form.title }}
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-success btn-sm">Save</button>
                </div>
            </div>
        </form>
    </div>
    <hr>
    <div class="container mt-3">
        <div class="row">
            {% for pg in page %}
                <div class="col-6">
                    <div class="main_content bg-dark text-white">
                        <div class="col text-break">
                            <h4>{{ pg.title }}</h4>
                        </div>
                        <div class="col-sm-3">
                            <a class="btn btn-success btn-sm" role="button" href="{% url 'chart_detail' pk=pg.pk %}">Open</a>
                            <a class="btn btn-danger btn-sm" role="button" href="#">Delete</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}