{% extends 'mainscreen/body.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container mt-3">
    <h1>Enter chart name</h1>
    <div class="field inline">
        <form action="" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col">
                    {{ form.title }}
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-success btn-sm">Save</button>
                </div>
            </div>
        </form>
    </div>
    <hr>
    {% for chart in charts %}
    <div class="row main_content bg-dark text-white align-items-center me-auto">
        <div class="col text-break">
            <h4>{{ chart.title }}</h4>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}