{% extends 'mainscreen/body.html' %}
{% load static %}
{% block content %}
<div class="container mt-3">
    <h1>Password change</h1>
    <hr>
    {% for err in form.errors.values %}
        {% for val in err %}
        <small class="text-danger">{{ val }}<br></small>
        {% endfor %}
    {% endfor %}
    <form method="post">
        {% csrf_token %}
        <div class="col-sm-2">
            <label>Old password</label><br>
            {{ form.old_password }}
        </div>
        <div class="col-sm-2">
            <label>New password</label><br>
            {{ form.new_password1 }}
        </div>
        <div class="col-sm-2">
            <label>Repeat new password</label><br>
            {{ form.new_password2 }}
        </div>
        <br>
        <button type="submit" class="btn btn-success btn-sm">Change</button>
    </form>
</div>
{% endblock %}