{% extends 'mainscreen/body.html' %}
{% load static %}
{% block content %}
<div class="container mt-3">
    <h1>Your photo</h1>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-2">
                {{ form.title }}
            </div>
            <div class="col-2">
                {{ form.im_photo }}
            </div>
            <div class="col-2 mx-1 align-bottom">
                <button type="submit" class="btn btn-success btn-sm">Upload</button>
            </div>
        </div>
    </form>
    <hr>

    <div class="row">
        {% for x in photos %}
            <div class="col-md-3">
                <a href="{{ x.im_photo.url }}" style="">
                    <img src="{{ x.im_photo.url }}" alt="Lights" style="width:100%; padding-bottom: 5px">
                </a>
                <div class="row">
                    <div class="col">
                        <p>{{ x.title }}</p>
                    </div>
                    <div class="col-auto">
                        <a class="btn btn-danger" role="button" href="{% url 'photo_delete' x.id %}"
                            style="--bs-btn-padding-y: .10rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                            Delete
                        </a>
                    </div>
                </div>
            </div>

        {% endfor %}
      </div>
</div>
{% endblock %}

