{% extends 'mainscreen/body.html' %}
{% load static %}
{% block content %}
<div class="container mt-3">
    <h1>Upload a photo</h1>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-2">
                {{ form.title }}
            </div>
            <div class="col-2">
                {{ form.im_photo }}
            </div>
            <div class="col-2 mx-1 align-bottom">
                <button type="submit" class="btn btn-success btn-sm">Upload</button>
            </div>
        </div>
    </form>
    <hr>

    <div class="row">
        {% for photo in photos %}
            <div class="col-md-3 mb-2">
                <div class="bg-dark text-white">
                <div>
                    <a href="{{ photo.im_photo.url }}">
                        <img src="{{ photo.im_photo.url }}" alt="Lights" style="width:100%; padding-bottom: 5px">
                    </a>
                </div>

                <div class="row m-1">
                    <div class="col">
                        <p>{{ photo.title }}</p>
                    </div>

                    <div class="col-auto">
                        <a class="btn btn-danger" role="button" href="{% url 'photo_delete' photo.id %}">
                            <i class="bi bi-x-circle"></i>
                        </a>
                    </div>
                </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

