{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gym Keeper</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/mainscreen.css' %}">
</head>
<body>
    <ul>
        <li><a href="/">Qwe</a></li>
        <li><a href="/">Qwe</a></li>
        <li><a href="/">Qwe</a></li>
        <li><a href="/">Qwe</a></li>
    </ul>

    <div>
        {% for post in posts %}
            <div>
                <p>published: {{ post.published_date }}</p>
                <h1><a href="">{{ post.title }}</a></h1>
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
        {% endfor %}
    </div>
</body>
</html>