{% extends 'mainscreen/body.html' %}
{% block content %}
<div class="container mt-3">
    <h1>Enter training name</h1>
    <div class="field inline">
        <form action="" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col">
                    {{ form.training_name }}
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-success btn-sm">Save</button>
                </div>
            </div>
        </form>
    </div>
    <hr>

    {% for pg in page %}
        <div class="row main_content bg-dark text-white align-items-center me-auto">
            <div class="col text-break">
                <h4>{{ pg.training_name }} - {{ pg.created_date }}</h4>
            </div>
            <div class="col-sm-3">
                <a class="btn btn-success btn-sm" role="button" href="{% url 'training_detail' pk=pg.pk %}">Open</a>
                <a class="btn btn-danger btn-sm" role="button" href="{% url 'delete' pg.id %}">Delete</a>
            </div>
        </div>
    {% endfor %}
<br>
{% include "mainscreen/pagination.html" with page=page %}
</div>
{% endblock %}