{% extends 'mainscreen/body.html' %}
{% block content %}
<div class="container mt-3">
    <h1>Enter training name</h1>
    <div class="field inline">
        <form action="" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-sm-3">
                    {{ form.training_name }}
<!--                    {{ form.created_date }}-->
                </div>
                <div class="col align-bottom">
                    <button type="submit" class="btn btn-success btn-sm">Save</button>
                </div>
            </div>
        </form>
    </div>
    <hr>

    {% for post in posts %}
        <div class="row main_content bg-dark text-white">
            <div class="col">
                <h1><a href="{% url 'trainin_detail' pk=post.pk %}">{{ post.training_name }} - {{ post.created_date }}</a></h1>
            </div>
            <div class="col-sm-2">
                <a class="btn btn-danger btn-sm" role="button" href="{% url 'delete' post.id %}">Delete</a>
            </div>
        </div>
    {% endfor %}
<br>
{% include "mainscreen/pagination.html" with page=posts %}
</div>
{% endblock %}