{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Gym Keep Register</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body class="bg-dark">
<div class="container d-flex h-100 justify-content-center align-items-center">
    <div class="row align-items-center text-center">
        <div class="col">
            <img class="w-50" src="{% static 'logo.png' %}">
        </div>
        <hr>
        <div class="col text-white">
        <h1>Registration</h1>
        {% for err in form.errors.values %}
            {% for val in err %}
            <small class="text-danger">{{ val }}<br></small>
            {% endfor %}
        {% endfor %}
        <form method="post">
            {% csrf_token %}
            <div>
                <label>Username</label><br>
                {{ form.username }}
            </div>
            <div>
                <label>Email</label><br>
                {{ form.email }}
            </div>
            <div>
                <label>Password</label><br>
                {{ form.password1 }}
            </div>
            <div>
                <label>Repeat password</label><br>
                {{ form.password2 }}
            </div><br>

            <button type="submit" class="btn btn-light btn-sm">Create</button>
        </form>
        </div>
    </div>
</div>

</body>
</html>