{% extends 'mainscreen/body.html' %}

{% block content %}
<div class="container mt-3">
    <div>
        <h1>{{ post.training_name }} - {{ post.created_date }}</h1>
    </div> <hr>
    <table class="table" width="50%">
        <thead>
            <tr>
                <th>Exercise</th>
                <th>Sets count</th>
                <th>Reps count</th>
                <th>Weight</th>
                <th>Ex.tonnage</th>
                <th>Delete?</th>
            </tr>
        </thead>

        {% for ex in exercise %}
        <tbody>
            <tr>
                <td>{{ ex.exercise }}</td>
                <td>{{ ex.sets_count }}</td>
                <td>{{ ex.reps_count }}</td>
                <td>{{ ex.weight }}</td>
                <td>{{ ex.tonnage }}</td>
                <td><a class="btn btn-danger btn-sm" role="button" href="{% url 'exercise_delete' ex.id %}">Delete</a></td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
    <form action="" method="post">
        {% csrf_token %}
<!--        {{ form.as_p }}-->
        <div class="row">
            <div class="col-sm-2">
                <label>Exercise</label><br>
                {{ form.exercise }}
            </div>
            <div class="col-sm-2 mx-2">
                <label>Sets count</label><br>
                {{ form.sets_count }}
            </div>
            <div class="col-sm-2">
                <label>Reps count</label><br>
                {{ form.reps_count }}
            </div>
            <div class="col-sm-2 mx-2">
                <label>Weight</label><br>
                {{ form.weight }}
            </div>
        </div><br>
        <button class="btn btn-success btn-sm" type="submit">Add exercise</button>
    </form>
</div>
{% endblock %}